#area{
  background-color: orange;
 width:1340px;
    height:100px;
border:2px solid black
}
.menu{
  list-style:none;
  padding:0px;
  margin:0px;
}
.menu li{
    margin:15px;
    padding:15px;
    float:left;
      
}

.menu li a{
  font: oblique bold 120% cursive;
    display:block;
    width:100px;
    height:40px;
    text-decoration:none;
    text-align:center;
    color:black;
    background-color:#ff9d7e;
    border-left:15px solid #ff4000;
}

.menu li a:hover{
    color:#CF0;
    background-color:#ff4000;
    border-left-color:#ff9d7e;
}

   p{
    font: oblique bold 120% cursive;
  position:absolute;
  top: 17px;
    left: 1200px;
}
#areaCen{
  position:relative;
width:1087px;
height:200px;
top:-12%;
left:17%;
margin-top:201px;
margin-left:-100px;
}
.me{
  list-style:none;
  padding:0px;
  margin-bottom:0px;

}
.me li{
    margin:15px;
    padding:15px;
    float:left;
      
}
.me li a {
         display:block;
    text-decoration:none;
padding:0px;
 
   border: 200px;

}
